@{
    ViewData["Title"] = "Bemutatkozás";
}

<div class="header d-flex justify-content-between align-items-center p-3">
    <div class="name">
        <h1>DEÁK TAMÁS</h1>
    </div>
    <div class="image">
        <img src="/images/itsme.jpg" alt="Deák Tamás" >
    </div>
</div>
<div class="content d-flex">
    <div class="green-section">
        <h3>Elérhetőségek</h3>
        <ul>
            <li>
                +36305127993
            </li>
            <li>
                deaktamas1994@gmail.com
            </li>
            <li>Budapest, 11. kerület</li>            
        </ul>
        <h3>Tanulmányok</h3>
        <p style="font-weight:bold">MATE</p>
        <p>Gépészmérnök - mérnök informatikai szakirány</p>
        <p>(2021 - 2025 január)</p>
        <h3>NYELVTUDÁS</h3>
        <p>Angol - társalgási szint</p>
        <h3>JOGOSÍTVÁNY</h3>
        <p>van, aktív vezetési tapasztalat</p>
        <h3>GITHUB</h3>
        <a href="https://github.com/Dejk0" target="_blank">https://github.com/Dejk0</a>

    </div>
    <div class="white-section">
        <h3>MUNKAHELYI TAPASZTALAT</h3>
        <p style="font-weight:bold">
            ENTERPRISE COMMUNICATIONS MAGYARORSZÁG KFT
        </p>
        <p>Szoftver támogató Mérnök</p>
        <p>2023 január - 2024 november</p>
        <ul>
            <li>
                CAD-CAM szakirány
            </li>
            <li>
                szoftver testreszabás
            </li>
            <li>C#</li>
            <li>
                VBA
            </li>
            <li>Makrók</li>
            <li>.NET</li>
        </ul>
        <h3>KÓDOK</h3>
        <ul>
            <li>
                általános egyetemi felhasználásra készített mini projektek
            </li>
            <li>
                dokumentum készítő applikáció
            </li>
            <li>
                önálló programozási gyakorlat, Unity game engine-ben, majd saját grafikus motorban.
            </li>
            <li>
                geolokáció rögzítő .NET MAUI app, Andoroidon tesztelve, kompatibilis IOS és Windos környezettel is
            </li>
            <li>
                Automatikus alkatrész készítő alkalmazás
            </li>
            <li>
                Tengely és fogaskerék készítő modulok
            </li>
            <li>
                UnitTest gyakorlat
            </li>
            <li>
                Clean Code Ismeretek
            </li>
        </ul>


  @*       <p>A weboldalam célja, hogy bemutassam a szakmai és tanulmányi eredményeimet, valamint azokat a témaköröket, amelyek az érdeklődési körömbe tartoznak. Ezt a weboldalt .NET 9-ben írtam, ami jól tükrözi a szoftverfejlesztés iránti elhivatottságomat és technikai készségeimet.</p>
        <p>Az elmúlt két évben az enterprisegroup-nál dolgoztam mint CAM szoftvertágomgató mérnök és a fő feladatok közé tartozott a szoftvertestre szabás is. Ebből készült a maradék anyagkezelési szakdolgozatom is.</p>
        <p>Remélem, hogy az oldalam segítségével jobban megismerheted a szakmai érdeklődésemet és céljaimat. Ha kérdésed lenne, vagy együttműködési lehetőségeket keresel, bátran vedd fel velem a kapcsolatot!</p>
    *@ </div>
    <div class="green-section">
        <h3>TAPASZTALATAIM, KOMPETENCIÁIM</h3>
        <ul>
            <li>
                korábbi munkahelyemen mérnöki szoftverek támogatása: CAD-CAM szoftverekben alkatrészek tervezése, megmunkálása
            </li>
            <li>
                szoftver testreszabás az ügyfél igények alapján
            </li>
            <li>
                cégszintű adatbázis integrálása a szoftver felhasználásba
            </li>
            <li>
                különböző rajzoló és file kezelő témában való jártásság
            </li>
            <li>
                szoftver testreszabásokat hajtottam végre, amik több héten és hónapon keresztül húzódtak.
            </li>
            <li>
                szakdolgozatomat ebben a témában készítettem
            </li>           
        </ul>
        <h3>MOTIVÁCIÓIM</h3>
        <ul>
            <li>
                munkahelyi tapasztalataim alapján rádöbbentem, hogy érdekel a programozás, a hobbimból a munkám részévé vált
            </li>
            <li>
                az egyetemi évek végeztével szoftverfejlesztőként szeretnék dolgozni
            </li>
            <li>
                terveim közé tartozik a programtervező informatikus mesterdiploma megszerzése és angol nyelvtudásom fejlesztése
            </li>
            <li>
                fontos számomra a fejlődési lehetőség
            </li>
            <li>
                hosszútávú karrierlehetőséget keresek
            </li>
            <li>
                heti 2-3 nap Home Office számomra az ideális
            </li>
        </ul>
    </div>
</div>
