@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Helló! Üdv az oldalamon!</h1>
    <p>Deák Tamás vagyok, a M.A.T.E.-n szereztem mérnök informatikai diplomát. Az elmúlt évek során elmélyültem a mérnöki tudományokban, különösen a gépészmérnöki területeken, ugyanakkor úgy döntöttem, hogy karrieremet nem ezen az úton, hanem programozóként szeretném folytatni. A műszaki területen szerzett ismereteim azonban előnyt jelentenek számomra, különösen olyan projektekben, ahol a mérnöki és a szoftverfejlesztési tudás találkozik.</p>
    <p>A weboldalam célja, hogy bemutassam a szakmai és tanulmányi eredményeimet, valamint azokat a témaköröket, amelyek az érdeklődési körömbe tartoznak. Ezt a weboldalt .NET 9-ben írtam, ami jól tükrözi a szoftverfejlesztés iránti elhivatottságomat és technikai készségeimet.</p>
    <p>Az elmúlt két évben az enterprisegroup-nál dolgoztam mint CAM szoftvertágomgató mérnök és a fő feladatok közé tartozott a szoftvertestre szabás is. Ebből készült a maradék anyagkezelési szakdolgozatom is.</p>
    <p>Remélem, hogy az oldalam segítségével jobban megismerheted a szakmai érdeklődésemet és céljaimat. Ha kérdésed lenne, vagy együttműködési lehetőségeket keresel, bátran vedd fel velem a kapcsolatot!</p>
</div>
