@{
    ViewData["Title"] = "Alkatrész tervező modul";
}


    <div class="green-section">
        <h3 >Alkatrész tervező modul</h3>
        <p>Ezen projektem a Solid Edge nevű tervező szoftverben segítségével készíti el az alkatrészeket a win-form ablakban megadható paraméterek alapján.</p>
        <p>A videón látható, hogy az ablakok egy tengelyt vagy egy fogaskereket képesek elkészíteni.</p>        
    </div>
<div class="white-section" style="display: flex; justify-content: center; align-items: center"  >
        <iframe width="640"
                height="360"
                src="https://www.youtube.com/embed/9xcGwSslaS0"
                title="YouTube videó"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
    <div class="green-section">
        <h3>A kód elérhetősége nyilávos.</h3>
        <p> 
            <a href="https://github.com/Dejk0/Part-Creator" target="_blank">https://github.com/Dejk0/Part-Creator</a>
        </p>
    </div>
    <div class="green-section">
        <h2 >Gondolatok és megjegyzések.</h2>
        <p></p>
        <h3>Miért volt szükség erre a makróra?</h3>
        <p>Nagyon szerettem ezen dolgozni ezen a projekte. A Gépelemek 2 nevű tárgy beadandójához kellett tervezni az alkatrészeket de mivel lehetett szoftvert használni így ezen makrók segítégével nem csak saját magamank voltam képesk elkészíteni a feladatot, hanem a tanuló társaimnak is.</p>
        <h3>Hol lehet felhasználni ilyen típusú megoldásokat?</h3>
        <p>Mivel ez egy szoftver automatizáció így akár munkakiváltására és gyorsabbá tételére alkalmas.</p>
        <p>Szakmai tapasztalataim alapján hallottam már csőhálózatok automatikus létrehozásárol ezen módszer segítségével. A megrendelő kész szerelési és gyártási fileokat kap ami csak pár percbe kerül a hosszú napok és hetek helyett.</p>
        <p>Ez a módszer elengedhetetlen a A.I. alkatrész tökéletesítéséhez ahol a véges elem szimulációk után az A.I. a makró segítségével módosítást végez majd vissza küldi egy újabb szimulációra. Ezt akár több tizezerszer is elvégezheti a rendszer mire kifejleszti a tökéletes geometriával rendelkező alaktrészt.</p>
        <h3>Projekt negatívuma</h3>
        <p>Kétes érzéseim vannak ezen projektem kapcsán, hisz az egyik oldalt látható a megfelelő működés, viszont a kód minősége borzasztó/nehezen fejleszthető. Mivel itt még csak a "működő képesség" volt a lényeg számomra így látható, hogy nem egy átgondolt projekt.</p>
        <p>Mára már sokkal szervezettebb, tisztább, áttekinthetőbb módon dolgozom és gondolkodom.</p>
    </div>


