@model SajatOldal.Models.Motorok.Motorok

@{
    ViewData["Title"] = "Create";
}

<h1>Létrehoz</h1>
<h4>Motorok</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" value="Skoda" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pn_max" class="control-label"></label>
                <input asp-for="Pn_max" class="form-control" type="number" value="92" />
                <span asp-validation-for="Pn_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="n_pn_max" class="control-label"></label>
                <input asp-for="n_pn_max" class="form-control" value="5800"/>
                <span asp-validation-for="n_pn_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_max" class="control-label"></label>
                <input asp-for="M_max" class="form-control" value="182" />
                <span asp-validation-for="M_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="n_M_max" class="control-label"></label>
                <input asp-for="n_M_max" class="form-control" value="3500" />
                <span asp-validation-for="n_M_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">súlj</label>
                <input asp-for="Weight" class="form-control" value="1365" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_Weight" class="control-label"></label>
                <input asp-for="Max_Weight" class="form-control" type="number"  value="1850" />
                <span asp-validation-for="Max_Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_1" class="control-label">1.fokozat (-)</label>
                <input asp-for="Transmisson_1" class="form-control " />
                <span asp-validation-for="Transmisson_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_2" class="control-label">2.fokozat (-)</label>
                <input asp-for="Transmisson_2" class="form-control" />
                <span asp-validation-for="Transmisson_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_3" class="control-label">3.fokozat (-)</label>
                <input asp-for="Transmisson_3" class="form-control" />
                <span asp-validation-for="Transmisson_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_4" class="control-label">4.fokozat (-)</label>
                <input asp-for="Transmisson_4" class="form-control"  />
                <span asp-validation-for="Transmisson_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_5" class="control-label">5.fokozat (-)</label>
                <input asp-for="Transmisson_5" class="form-control"  />
                <span asp-validation-for="Transmisson_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmisson_6" class="control-label">6.fokozat (-)</label>
                <input asp-for="Transmisson_6" class="form-control"  />
                <span asp-validation-for="Transmisson_6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gear_ratio" class="control-label"></label>
                <input asp-for="Gear_ratio" class="form-control" value="3,92" />
                <span asp-validation-for="Gear_ratio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" value="4744" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" value="1760" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hight" class="control-label"></label>
                <input asp-for="Hight" class="form-control" value="1440" />
                <span asp-validation-for="Hight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheelbase" class="control-label"></label>
                <input asp-for="Wheelbase" class="form-control" value="2761" />
                <span asp-validation-for="Wheelbase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gauge" class="control-label"></label>
                <input asp-for="Gauge" class="form-control" value="2761" />
                <span asp-validation-for="Gauge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire" class="control-label"></label>
                <input asp-for="Tire" class="form-control" value="195/70 R 15" />
                <span asp-validation-for="Tire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drag_coefficient" class="control-label"></label>
                <input asp-for="Drag_coefficient" class="form-control" value="0,32" />
                <span asp-validation-for="Drag_coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rolling_Resistance_Factor" class="control-label"></label>
                <input asp-for="Rolling_Resistance_Factor" class="form-control" value="0,015" />
                <span asp-validation-for="Rolling_Resistance_Factor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission_efficiency" class="control-label"></label>
                <input asp-for="Transmission_efficiency" class="form-control" value="0,92" />
                <span asp-validation-for="Transmission_efficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reduction_constant_of_rotating_masses" class="control-label"></label>
                <input asp-for="Reduction_constant_of_rotating_masses" class="form-control" value="1,2" />
                <span asp-validation-for="Reduction_constant_of_rotating_masses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slope_of_rise" class="control-label"></label>
                <input asp-for="Slope_of_rise" class="form-control" value="13" />
                <span asp-validation-for="Slope_of_rise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adhesion_factor" class="control-label"></label>
                <input asp-for="Adhesion_factor" class="form-control" value="0,8" />
                <span asp-validation-for="Adhesion_factor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creep_factor" class="control-label"></label>
                <input asp-for="Creep_factor" class="form-control" value="0,94" />
                <span asp-validation-for="Creep_factor" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="AirDensity" class="control-label"></label>
                <input asp-for="AirDensity" class="form-control" value="1,23" />
                <span asp-validation-for="AirDensity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Létrehoz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a listára</a>
</div>
@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
   
}
 *@