@{
    ViewData["Title"] = "Motorok"; 

}

@model SajatOldal.Models.Motorok.Motorok


<form asp-controller="Motorok" asp-action="Results" method="post">
    <div class="green-section">
        <h3>A Feladat leírása</h3>
        <p>Ez egy etetemi házifeladat volt még a gépészérnökin. Egy auto motorteljesítményét, erőket és gyorsulásokat kell számítani.</p>
        <p>A fő feladat word egyenlet kezelés. Viszont ezen oldal segítségével legalább az eredményeket nem kell kézzel számolni elég csak ellenőrizni.</p>
        <p>Összesen olyan 70 darab egyenlet van ebben a háziban és ezeket kézzel kiszámítani órákig tart. Ezen oldal segítségével viszont csak a bemenő paramétereket kell megadni.</p>
        <p>Fontos, hogy a két utolsó paraméter nem a feladatlapon szerepel hanem általában változik az évek alatt.</p>
        <p>A két grafikonből le olvasható, hogy mekkora sebességgel képes felmenni az autó az emelkedőn. Ez pedig a két görbe metszéspontjában van ahol az erők kiegyenlítődnek.</p>
    </div>
    
    <div class="white-section">
        <h1>Mik a bemeneti paraméterek?</h1>
        <table>
            <thead>
                <tr>
                    <th>Paraméter</th>
                    <th>Érték</th>
                </tr>
            </thead>            
            <tbody>                
                <tr>
                    <td>Maximum teljesítmény (kW)</td>
                    <td><input asp-for="Pn_max" class="form-control" value="92" /></td>
                </tr>
                <tr>
                    <td>Fordulatszám maximum teljesítménynél (1/min)</td>
                    <td><input asp-for="n_pn_max" class="form-control" value="5800" /></td>
                </tr>
                <tr>
                    <td>Maximum nyomaték (kW)</td>
                    <td><input asp-for="M_max" class="form-control" value="182" /></td>
                </tr>
                <tr>
                    <td>Fordulatszám Maximum nyomatéknál (1/min)</td>
                    <td><input asp-for="n_M_max" class="form-control" value="3500" /></td>
                </tr>
                <tr>
                    <td>Súly (kg)</td>
                    <td><input asp-for="Weight" class="form-control" value="1365" /></td>
                </tr>
                <tr>
                    <td>Max súly (kg)</td>
                    <td><input asp-for="Max_Weight" class="form-control" value="1850" /></td>
                </tr>
                <tr>
                    <td>1.fokozat (-)</td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <td><input asp-for="Transmissions[0]" class="form-control" min="0,2" max="10" value="3,89" /></td>
                </tr>
                <tr>
                    <td>2.fokozat (-)</td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <td><input asp-for="Transmissions[1]" class="form-control" min="0,2" max="10" value="2,084" /></td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </tr>
                <tr>
                    <td>3.fokozat (-)</td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <td><input asp-for="Transmissions[2]" class="form-control" min="0,2" max="10" value="1,342" /></td>
                </tr>
                <tr>
                    <td>4.fokozat (-)</td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <td><input asp-for="Transmissions[3]" class="form-control" min="0,2" max="10" value="1,0" /></td>
                    <span asp-validation-for="Transmissions[3]" class="text-danger"></span>
                </tr>
                <tr>
                    <td>5.fokozat (-)</td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    
                    <td><input asp-for="Transmissions[4]" class="form-control" min="0,2" max="10" value="0,822" /></td>
                    <span asp-validation-for="Transmissions[4]" class="text-danger"></span>
                </tr>
                <tr>
                    <td>6.fokozat (-)</td>
                    <td><input asp-for="Transmissions[5]" class="form-control" min="0,2" max="10" value="" /></td>
                    <span asp-validation-for="Transmissions[5]" class="text-danger"></span>
                </tr>
                <tr>
                    <td>Állandó áttétel</td>
                    <td><input asp-for="Gear_ratio" class="form-control" value="3,92" /></td>
                </tr>
                <tr>
                    <td>Hossz (mm)</td>
                    <td><input asp-for="Length" class="form-control" value="4744" /></td>
                </tr>
                <tr>
                    <td>Szélesség (mm)</td>
                    <td><input asp-for="Width" class="form-control" value="1760" /></td>
                </tr>
                <tr>
                    <td>Magassság (mm)</td>
                    <td><input asp-for="Hight" class="form-control" value="1440" /></td>
                </tr>
                <tr>
                    <td>Tengelytáv (mm)</td>
                    <td><input asp-for="Wheelbase" class="form-control" value="2761" /></td>
                </tr>
                <tr>
                    <td>Nyomtáv (mm)</td>
                    <td><input asp-for="Gauge" class="form-control" value="2761" /></td>
                </tr>
                <tr>
                    <td>Gumi leírás</td>
                    <td><input asp-for="Tire" class="form-control" value="195/70 R 15" /></td>
                </tr>
                <tr>
                    <td>Légellenállási tényező (-)</td>
                    <td><input asp-for="Drag_coefficient" class="form-control" value="0,32" /></td>
                </tr>
                <tr>
                    <td>Gördülési ellenállás tényező (-)</td>
                    <td><input asp-for="Rolling_Resistance_Factor" class="form-control" value="0,015" /></td>
                </tr>
                <tr>
                    <td>Áttétel hatásfoka (-)</td>
                    <td><input asp-for="Transmission_efficiency" class="form-control" value="0,92" /></td>
                </tr>
                <tr>
                    <td>Forgó tömegek redukciós állandója (-)</td>
                    <td><input asp-for="Reduction_constant_of_rotating_masses" class="form-control" value="1,2" /></td>
                </tr>
                <tr>
                    <td>Emelkedő (%)</td>
                    <td><input asp-for="Slope_of_rise" class="form-control" value="13" /></td>
                </tr>
                <tr>
                    <td>Tapadási tényező (-)</td>
                    <td><input asp-for="Adhesion_factor" class="form-control" value="0,8" /></td>
                </tr>
                <tr>
                    <td>Belapulási tényező (-)</td>
                    <td><input asp-for="Creep_factor" class="form-control" value="0,94" /></td>
                </tr>
                <tr>
                    <td>Levegő sürűség (kg/m^3)</td>
                    <td><input asp-for="AirDensity" class="form-control" value="1,23" /></td>
                </tr>

            </tbody>
        </table>

        <div>
            <button type="Results">Számítás</button>
        </div>
    </div>
</form>
